.container {
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100px 100px;
}

.container div {
    background: lightblue;
    border: 2px solid #09f;
    border-radius: 6px;
}