* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --amarillo: hsl(48, 100%, 48%);
    --amarilloclaro: hsl(49, 100%, 68%);
    --gris: hsl(0, 0%, 33%);
    --negro: hsl(0, 0%, 2%);
    --grisoscuro: hsl(0, 0%, 13%);
    --rojoscuro: hsl(0, 100%, 27%);
    --rojo: hsl(0, 100%, 35%);
    --blanco: hsl(0, 0%, 100%);
}

body {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--negro);
    padding: 1rem;
}

.fondo {
    position: absolute;
    background-size: cover;
}

.calculadora {
    width: min(100%, 450px);
    background-color: var(--negro);
    padding: 2rem;
    border: 3px solid var(--amarillo);
    border-radius: 1rem;
    z-index: 1000;
}

.marca {
    color: var(--amarillo);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px var(--negro);
}

.pantalla input {
    min-height: 5rem;
    background-color: var(--grisoscuro);
    border: 0.1rem solid var(--gris);
    padding: 1rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    width: 100%;
}

.resultado {
    color: var(--amarillo);
    font-size: 2rem;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 0.4rem;
}

.operador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 0.4rem;
    margin-top: 0.4rem;
}

button {
    min-height: 4rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.limpiar {
    background-color: var(--rojoscuro);
    color: var(--blanco);
}

.limpiar:hover {
    background-color: var(--rojo);
}

.igual {
    background-color: var(--amarillo);
    color: var(--negro);
}

.igual:hover {
    background-color: var(--amarilloclaro);
}

.numero {
    background-color: var(--grisoscuro);
    color: var(--blanco);
    border: 1px solid var(--grisoscuro);
}

.numero:hover {
    background-color: var(--grisoscuro);
}

.teclado .suma .resta .multiplicacion .division {
    background-color: var(--grisoscuro);
    color: var(--amarillo);
}

.operador .suma:hover,
.resta:hover,
.multiplicacion:hover,
.division:hover {
    background-color: var(--amarillo);
    color: var(--negro);
}