* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Menu */

header {
    background-color: #0b5c3a;
}

.main-bar {}

.logo svg {
   
}

.navbar nav ul li a {
    display: flex;
}

.search-bar button {}

.user-bar a {}

/* Main Image */

.hero {}

.cards {}

.card .card-image {}

.card .card-tittle {}

.card .card-description {}

/* Faqs Accordion  */

.accordion {}

.accordion-tittle h2 {}

.accordion-grid {}

.accordion-grid details summary {}

.accordion-grid details p {}

/* Contact */

.contact {}

.contact-form {}

.contact-form-tittle h2 {}

.form-element {}

.form-element label {}

.form-element-button button {}

.map iframe {}

/* Footer */

.footer-row {}

.footer-column h2 {}

.footer-column nav ul li a {}

.social-media svg {}

.footer-row {}

.footer-content span {}




